<form action="/cart" method="POST">
    <input type="hidden" name="prodId" value="<%= product.id %>">
    <input type="hidden" name="pPrice" value="<%= product.price %>">
    <button class="btn">Add to Cart</button>
</form>